.CreatureEditor {
    .noselect {
        user-select: none;
    }

    .Button {
        background-color: #00c853;

        &:hover {
            background-color: #1AB14F;
        }

        &:active {
            background-color: #008b39;
        }
    }
}