.CreatureEditor {
	.noselect {
		user-select: none; /* currently supported by Chrome and Opera */
	}

	.Button {
		background-color: #00c853;

		&:hover {
			background-color: #1AB14F;
		}

		&:active {
			background-color: #008b39;
		}
	}
}
